@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Rubik+Vinyl&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

/* Tell Tailwind to apply dark: utilities when .dark class is present */
@custom-variant dark (&:where(.dark, .dark *));


a.active{
    color: red;
    font-weight: semibold;
    transition: color 0.5s ease-in-out;
    &:hover{
        color: #06110e;
    }
}
